# dataset is downloaded on demand
*tripdata*

################################################################################
# Python
################################################################################
# Jupyter notebooks.
*.pyc
.ipynb_checkpoints/
.venv
